<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Error al iniciar sesion, no existe el usuario</h3>
      <h3>Te redirigiremos para que puedas registrarte</h3>
    </div>
  </div>
</div>
<script>
  setTimeout(function () {
    window.location.replace("http://localhost:8080/api/signup")
  }, 3000);
</script>