{{> navbar}}
<br/>

<h1>Listado de productos</h1>
        <div class="productCard">
            {{product.id}}<br/>
            {{product.title}}<br/>
            {{product.price}}<br/>
            <img src="{{product.thumbnail}}" class="product-img"/>
        </div>
<br/>
{{> footer}}
<br/>