include partials/navbar
br
h1.bg-dark.text-white Listado de productos
each item in prod
    table.table.table-dark
      thead
        tr
          th(scope='col') ID
          th(scope='col') NOMBRE
          th(scope='col') PRECIO
          th(scope='col') FOTO
      tbody
        tr
          td= item.id
          br
          td= item.title
          td= item.price
          br
          td
            img.img-thumbnail(src=item.thumbnail style='width: 15%')

a.btn.btn-secondary(class='button' href='/form') VOLVER AL FORMULARIO
br
include partials/footer
br
